In [1]:
# # 파이캐럿 사용
# !pip install pycaret
# !pip install Jinja2
# !pip install markupsafe==2.1.1
# !pip install xgboost
# !pip install catboost

# 1. 데이터 로드

In [2]:
import pandas as pd
import ast
import warnings
warnings.filterwarnings(action='ignore')

file_path = './splited_dataset/'
file_name = 'sentiment_0_summary_0_sample_total_df_04_10.csv'

total_df = pd.read_csv(file_path + file_name) # 02: beaty and sopa
total_df

,review_id,user_id,business_id,review_star,useful,funny,cool,text,date,mean,...,Mass Media,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,summary,sentiment_score
0,_qafm0NudWVBOwouhKH2iw,vJ4ZWjXVjR_wo-NSBjC1Gw,yl_gnP_iQp2TaOTnMPHh0w,5,0,0,0,I recently contracted Cory to make cookies as ...,2016-07-25 14:23:46,4.00,...,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,closed,I was expecting a simple standard sugar cookie...,0.477661
1,zdATrLC7YC7p4IryVwJIbQ,_HUZkkvxE_A6GZVC379KgA,SLmGshQmUoMPMlwbMuLWLQ,4,1,0,0,Great new spot in Malvern! So nice to see a ch...,2018-09-15 02:31:56,3.75,...,False,closed,14:0-20:0,14:0-20:0,14:0-20:0,14:0-21:0,14:0-21:0,closed,Chicken albondigas and calamari were excellent...,0.993008
2,QuZPjzI9Mi9ddTeOpzQn8Q,Sifz5dluWUZwQVCCRvQI8A,RYDx_QT3rxN8jsr9Y2Ioqg,5,0,0,0,I ordered a cake as part of a big surprise fro...,2017-07-20 04:16:29,5.00,...,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,9:0-15:0,closed,Customer service was amazing. Not to mention t...,0.992071
3,pQNg9P5nO91shiJ5ezr3Lg,4MVeKvtezN4BZr0jEIEUYQ,kpdGKJimp87LPV-mk1lIrg,5,0,0,0,I cannot believe that there would be a single ...,2012-10-13 14:47:53,5.00,...,False,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,I have never had a better tasting cupcake and ...,0.992044
4,dr5Gst3YsN8zGUSrBz9DzQ,vtLgcu1t6209CKwo-nAZ0Q,rxH22mT81ht_n3cGTbWi4A,5,1,1,0,Me and my now husband chose Beans BBQ to cater...,2018-05-28 20:29:36,5.00,...,False,0:0-0:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,Beans BBQ Catering in Santa Barbara cater our ...,0.992734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,-WrCTfVzxvd59VBAXT27Dg,dq6bYzoDqY33KfFDHAI0gA,CJVD_c7YhF0jAESny1uHGA,5,0,0,0,Absolutely spectacular service and food was gr...,2021-06-20 21:57:20,4.90,...,False,no information,no information,no information,no information,no information,no information,no information,Staff were friendly and on top of food and dri...,0.992297
1841,NtroZQuDLFIc4p9cZ4B4_g,NYTfKhsTWaMSR5XyyC9zlQ,1ahT3QimUngu6fzXjCtn5A,5,0,0,0,I could not have asked for anything more! We h...,2019-08-20 15:40:12,5.00,...,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,Florida Wedding Professionals was the perfect ...,0.965868
1842,vZw6RsryDYpuS6_MxQn1uw,uisOWRYZgPO_9Nt_agOH_g,yiasXNMo_K1rI1BvUtG62w,5,0,0,0,"Our officiant, Juanita, was absolutely amazing...",2021-08-24 15:35:40,5.00,...,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,Juanita was absolutely amazing! She sent out P...,0.991619
1843,anpWuE2wtSX8QNq_r-ExGg,4STLpZ3BB2o-rWNzzWsaBg,1ahT3QimUngu6fzXjCtn5A,1,0,0,0,If I could give them a zero I would! This plac...,2020-07-06 17:40:52,1.00,...,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,Jason Wheeler will ignore you after he gets yo...,0.019370
1844,CzWJOBhhNFNw0kehh2bqlQ,t1g15uUuWvNagE-0DCNcqQ,hla1gzYM7yVws4o0BkRQ9Q,5,1,0,0,We went there for a family wedding reception. ...,2016-02-23 04:13:33,5.00,...,False,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,The venue is beautiful. The food was very good...,0.989549

In [3]:
try:
    total_df = total_df.drop('Unnamed: 0', axis=1)
except:
    print('No index column')

total_df

No index column

,review_id,user_id,business_id,review_star,useful,funny,cool,text,date,mean,...,Mass Media,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,summary,sentiment_score
0,_qafm0NudWVBOwouhKH2iw,vJ4ZWjXVjR_wo-NSBjC1Gw,yl_gnP_iQp2TaOTnMPHh0w,5,0,0,0,I recently contracted Cory to make cookies as ...,2016-07-25 14:23:46,4.00,...,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,closed,I was expecting a simple standard sugar cookie...,0.477661
1,zdATrLC7YC7p4IryVwJIbQ,_HUZkkvxE_A6GZVC379KgA,SLmGshQmUoMPMlwbMuLWLQ,4,1,0,0,Great new spot in Malvern! So nice to see a ch...,2018-09-15 02:31:56,3.75,...,False,closed,14:0-20:0,14:0-20:0,14:0-20:0,14:0-21:0,14:0-21:0,closed,Chicken albondigas and calamari were excellent...,0.993008
2,QuZPjzI9Mi9ddTeOpzQn8Q,Sifz5dluWUZwQVCCRvQI8A,RYDx_QT3rxN8jsr9Y2Ioqg,5,0,0,0,I ordered a cake as part of a big surprise fro...,2017-07-20 04:16:29,5.00,...,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,9:0-15:0,closed,Customer service was amazing. Not to mention t...,0.992071
3,pQNg9P5nO91shiJ5ezr3Lg,4MVeKvtezN4BZr0jEIEUYQ,kpdGKJimp87LPV-mk1lIrg,5,0,0,0,I cannot believe that there would be a single ...,2012-10-13 14:47:53,5.00,...,False,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,I have never had a better tasting cupcake and ...,0.992044
4,dr5Gst3YsN8zGUSrBz9DzQ,vtLgcu1t6209CKwo-nAZ0Q,rxH22mT81ht_n3cGTbWi4A,5,1,1,0,Me and my now husband chose Beans BBQ to cater...,2018-05-28 20:29:36,5.00,...,False,0:0-0:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,Beans BBQ Catering in Santa Barbara cater our ...,0.992734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,-WrCTfVzxvd59VBAXT27Dg,dq6bYzoDqY33KfFDHAI0gA,CJVD_c7YhF0jAESny1uHGA,5,0,0,0,Absolutely spectacular service and food was gr...,2021-06-20 21:57:20,4.90,...,False,no information,no information,no information,no information,no information,no information,no information,Staff were friendly and on top of food and dri...,0.992297
1841,NtroZQuDLFIc4p9cZ4B4_g,NYTfKhsTWaMSR5XyyC9zlQ,1ahT3QimUngu6fzXjCtn5A,5,0,0,0,I could not have asked for anything more! We h...,2019-08-20 15:40:12,5.00,...,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,Florida Wedding Professionals was the perfect ...,0.965868
1842,vZw6RsryDYpuS6_MxQn1uw,uisOWRYZgPO_9Nt_agOH_g,yiasXNMo_K1rI1BvUtG62w,5,0,0,0,"Our officiant, Juanita, was absolutely amazing...",2021-08-24 15:35:40,5.00,...,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,Juanita was absolutely amazing! She sent out P...,0.991619
1843,anpWuE2wtSX8QNq_r-ExGg,4STLpZ3BB2o-rWNzzWsaBg,1ahT3QimUngu6fzXjCtn5A,1,0,0,0,If I could give them a zero I would! This plac...,2020-07-06 17:40:52,1.00,...,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,Jason Wheeler will ignore you after he gets yo...,0.019370
1844,CzWJOBhhNFNw0kehh2bqlQ,t1g15uUuWvNagE-0DCNcqQ,hla1gzYM7yVws4o0BkRQ9Q,5,1,0,0,We went there for a family wedding reception. ...,2016-02-23 04:13:33,5.00,...,False,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,The venue is beautiful. The food was very good...,0.989549

# 2. 데이터 전처리
- train시와 똑같은 column 구축

## 2.1. 'text' 칼럼 및 'summary' 칼럼 삭제
- ML모델의 input으로 제공하기 위해 'sentiment_score'로 변환하였기 때문

In [4]:
final_df = total_df.drop(['text','summary'], axis=1)
final_df

,review_id,user_id,business_id,review_star,useful,funny,cool,date,mean,var,...,Lawn Services,Mass Media,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,sentiment_score
0,_qafm0NudWVBOwouhKH2iw,vJ4ZWjXVjR_wo-NSBjC1Gw,yl_gnP_iQp2TaOTnMPHh0w,5,0,0,0,2016-07-25 14:23:46,4.00,4.000000,...,False,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,closed,0.477661
1,zdATrLC7YC7p4IryVwJIbQ,_HUZkkvxE_A6GZVC379KgA,SLmGshQmUoMPMlwbMuLWLQ,4,1,0,0,2018-09-15 02:31:56,3.75,3.583333,...,False,False,closed,14:0-20:0,14:0-20:0,14:0-20:0,14:0-21:0,14:0-21:0,closed,0.993008
2,QuZPjzI9Mi9ddTeOpzQn8Q,Sifz5dluWUZwQVCCRvQI8A,RYDx_QT3rxN8jsr9Y2Ioqg,5,0,0,0,2017-07-20 04:16:29,5.00,0.000000,...,False,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,9:0-15:0,closed,0.992071
3,pQNg9P5nO91shiJ5ezr3Lg,4MVeKvtezN4BZr0jEIEUYQ,kpdGKJimp87LPV-mk1lIrg,5,0,0,0,2012-10-13 14:47:53,5.00,0.000000,...,False,False,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,0.992044
4,dr5Gst3YsN8zGUSrBz9DzQ,vtLgcu1t6209CKwo-nAZ0Q,rxH22mT81ht_n3cGTbWi4A,5,1,1,0,2018-05-28 20:29:36,5.00,0.000000,...,False,False,0:0-0:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,0.992734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,-WrCTfVzxvd59VBAXT27Dg,dq6bYzoDqY33KfFDHAI0gA,CJVD_c7YhF0jAESny1uHGA,5,0,0,0,2021-06-20 21:57:20,4.90,0.100000,...,False,False,no information,no information,no information,no information,no information,no information,no information,0.992297
1841,NtroZQuDLFIc4p9cZ4B4_g,NYTfKhsTWaMSR5XyyC9zlQ,1ahT3QimUngu6fzXjCtn5A,5,0,0,0,2019-08-20 15:40:12,5.00,0.000000,...,False,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.965868
1842,vZw6RsryDYpuS6_MxQn1uw,uisOWRYZgPO_9Nt_agOH_g,yiasXNMo_K1rI1BvUtG62w,5,0,0,0,2021-08-24 15:35:40,5.00,0.000000,...,False,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.991619
1843,anpWuE2wtSX8QNq_r-ExGg,4STLpZ3BB2o-rWNzzWsaBg,1ahT3QimUngu6fzXjCtn5A,1,0,0,0,2020-07-06 17:40:52,1.00,0.000000,...,False,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.019370
1844,CzWJOBhhNFNw0kehh2bqlQ,t1g15uUuWvNagE-0DCNcqQ,hla1gzYM7yVws4o0BkRQ9Q,5,1,0,0,2016-02-23 04:13:33,5.00,0.000000,...,False,False,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,0.989549

## 2.2. id 칼럼 및 의미없는 칼럼 제거

In [5]:
remove_col = ['review_id','user_id','business_id','date','name','is_open']

final_df = final_df.drop(remove_col, axis = 1)
final_df

,review_star,useful,funny,cool,mean,var,num_review,address,city,state,...,Lawn Services,Mass Media,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,sentiment_score
0,5,0,0,0,4.00,4.000000,4,6815 State Road 54,New Port Richey,FL,...,False,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,closed,0.477661
1,4,1,0,0,3.75,3.583333,4,625 N Morehall Rd,Malvern,PA,...,False,False,closed,14:0-20:0,14:0-20:0,14:0-20:0,14:0-21:0,14:0-21:0,closed,0.993008
2,5,0,0,0,5.00,0.000000,1,6861 Jefferson Hwy,New Orleans,LA,...,False,False,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,9:0-15:0,closed,0.992071
3,5,0,0,0,5.00,0.000000,3,114 3rd Ave S,Franklin,TN,...,False,False,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,0.992044
4,5,1,1,0,5.00,0.000000,5,NaN,Santa Barbara,CA,...,False,False,0:0-0:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,0.992734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,5,0,0,0,4.90,0.100000,10,5801 E 116th St,Carmel,IN,...,False,False,no information,no information,no information,no information,no information,no information,no information,0.992297
1841,5,0,0,0,5.00,0.000000,1,NaN,Dunedin,FL,...,False,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.965868
1842,5,0,0,0,5.00,0.000000,1,NaN,Goleta,CA,...,False,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.991619
1843,1,0,0,0,1.00,0.000000,1,NaN,Dunedin,FL,...,False,False,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.019370
1844,5,1,0,0,5.00,0.000000,2,2 N Main St,Phoenixville,PA,...,False,False,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,0.989549

In [6]:
final_df = final_df.replace(False, 0)
final_df = final_df.replace('False', 0)
final_df = final_df.replace(True, 1)
final_df = final_df.replace('True', 1)

final_df

,review_star,useful,funny,cool,mean,var,num_review,address,city,state,...,Lawn Services,Mass Media,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,sentiment_score
0,5,0,0,0,4.00,4.000000,4,6815 State Road 54,New Port Richey,FL,...,0,0,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,closed,0.477661
1,4,1,0,0,3.75,3.583333,4,625 N Morehall Rd,Malvern,PA,...,0,0,closed,14:0-20:0,14:0-20:0,14:0-20:0,14:0-21:0,14:0-21:0,closed,0.993008
2,5,0,0,0,5.00,0.000000,1,6861 Jefferson Hwy,New Orleans,LA,...,0,0,closed,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,9:0-15:0,closed,0.992071
3,5,0,0,0,5.00,0.000000,3,114 3rd Ave S,Franklin,TN,...,0,0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,0.992044
4,5,1,1,0,5.00,0.000000,5,NaN,Santa Barbara,CA,...,0,0,0:0-0:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,0.992734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,5,0,0,0,4.90,0.100000,10,5801 E 116th St,Carmel,IN,...,0,0,no information,no information,no information,no information,no information,no information,no information,0.992297
1841,5,0,0,0,5.00,0.000000,1,NaN,Dunedin,FL,...,0,0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.965868
1842,5,0,0,0,5.00,0.000000,1,NaN,Goleta,CA,...,0,0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.991619
1843,1,0,0,0,1.00,0.000000,1,NaN,Dunedin,FL,...,0,0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0.019370
1844,5,1,0,0,5.00,0.000000,2,2 N Main St,Phoenixville,PA,...,0,0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,9:0-17:0,0.989549

In [7]:
final_df.dtypes

review_star          int64
useful               int64
funny                int64
cool                 int64
mean               float64
                    ...
Thursday            object
Friday              object
Saturday            object
Sunday              object
sentiment_score    float64
Length: 557, dtype: object

In [8]:
for idx, value in enumerate(final_df.iloc[0]):
    if type(value)== str:
        print(final_df.columns[idx],value, type(value))

address 6815 State Road 54 <class 'str'>
city New Port Richey <class 'str'>
state FL <class 'str'>
RestaurantsPriceRange2 2 <class 'str'>
WiFi u'free' <class 'str'>
Monday closed <class 'str'>
Tuesday 10:0-18:0 <class 'str'>
Wednesday 10:0-18:0 <class 'str'>
Thursday 10:0-18:0 <class 'str'>
Friday 10:0-18:0 <class 'str'>
Saturday 10:0-18:0 <class 'str'>
Sunday closed <class 'str'>

In [9]:
import pandas as pd

# Identify object type columns
object_columns = final_df.select_dtypes(include='object').columns

# Convert object columns to numeric or categorical
for column in object_columns:
    try:
        final_df[column] = pd.to_numeric(final_df[column], errors='coerce')
    except ValueError:
        final_df[column] = final_df[column].astype('category')

In [10]:
from pycaret.regression import *

setup_clf = setup(data=final_df, target='review_star', train_size=0.7,
                 fold=5,fold_shuffle=True,
                  feature_selection = True,feature_selection_method = 'classic',
                 session_id = 123,
                  use_gpu = True)

[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1

[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1
[LightGBM] [Fatal] GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1
[LightGBM] [Fatal] CUDA Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_CUDA=1

# 3. 모델 로드

In [11]:
# functional API
final_model = load_model(file_path + 'model_sentiment_0_summary_0_sample_total_df_04_10.csv') #확장자 pkl 빼야함.
print(final_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=/var/tmp/joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['useful', 'funny', 'cool', 'mean',
                                             'var', 'num_review', 'address',
                                             'city', 'state', 'postal_code',
                                             'latitude', 'longitude',
                                             'business_star', 'review_count',
                                             'ByAppointmentOnly',
                                             'BusinessAcceptsCreditCards',
                                             'BikeParking',
                                             'RestaurantsPriceRange2',
                                             'CoatCheck...
                                              ExtraTreesRegressor(n_jobs=-1,
                                                                  random_state=123)),
                                             ('CatBoost Regressor',
                                              <catboost.core.CatBoostRegressor object at 0x7f3bc431e1c0>),
                                             ('Random Forest Regressor',
                                              RandomForestRegressor(n_jobs=-1,
                                                                    random_state=123)),
                                             ('Gradient Boosting Regressor',
                                              GradientBoostingRegressor(random_state=123)),
                                             ('Light Gradient Boosting Machine',
                                              LGBMRegressor(random_state=123))],
                                 n_jobs=1))])

In [12]:
prediction = predict_model(final_model, data=final_df.iloc[-100:])
prediction

,useful,funny,cool,mean,var,num_review,address,city,state,postal_code,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,sentiment_score,review_star,prediction_label
1745,0,0,0,4.500000,0.500000,2,NaN,NaN,NaN,37216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.992699,5,4.914779
1746,0,0,1,4.666667,0.333333,3,NaN,NaN,NaN,19067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.990507,5,4.827176
1747,0,0,0,5.000000,0.000000,2,NaN,NaN,NaN,37216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.992638,5,4.998008
1748,1,0,0,1.000000,0.000000,1,NaN,NaN,NaN,37216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,1,0.900194
1749,2,0,0,5.000000,0.000000,1,NaN,NaN,NaN,70112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.992163,5,4.997510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,0,0,0,4.900000,0.100000,10,NaN,NaN,NaN,46033,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.992297,5,5.010289
1841,0,0,0,5.000000,0.000000,1,NaN,NaN,NaN,34698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.965868,5,4.990973
1842,0,0,0,5.000000,0.000000,1,NaN,NaN,NaN,93117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.991619,5,4.995800
1843,0,0,0,1.000000,0.000000,1,NaN,NaN,NaN,34698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.019370,1,0.989717
1844,1,0,0,5.000000,0.000000,2,NaN,NaN,NaN,19460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.989549,5,5.003030